a:active, a:focus {
   outline:  none;
   ie-dummy: expression(this.hideFocus=false);
}

.def {
	font-family: Garamond, Georgia, Serif;

}

.def:lang(ar),.def:lang(fa) { /* CSS 3 Selector */
	font-family: Nazli, Roya, Scheherazade;
}

.quran, .quran td {
	font:   98pt KFGQPC Uthmanic Script HAFS, Adobe Arabic, Noto Naskh Arabic, Traditional Arabic, Zekr Quran, Nazli, Roya, Scheherazade, Sans-serif, Sans-serif, Times New Roman;
}

.quran, .quran td {
	text-align: center;
}

.trans, .trans td {
	font:   18pt Tahoma, Helvetica, Trebuchet MS, Arial, Tahoma, Arial, Times, Verdana, Helvetica;
}
body[dir=rtl] .trans, body[dir=rtl] .trans td {
    font-family: Tahoma, Arial, Times, Verdana, Helvetica;
}

.quran .suraAyaNum {
	font-size: 14-pt;
}

.trans .suraAyaNum {
	display: none;
	font-size: 20pt;
}

div.bodyTop {
    margin: .0001px;
}

.suraName {
	font-weight: bold;
	/*padding-top: 2px;
	font-size: .75em;*/
	padding-top: 2px;
	font-size: 50pt;
	height: 50px;
    /*font-family: serif;*/
	background: url(file:///C:/Zekr2/res/image/sura-header1.png) no-repeat center center;
}
body[dir=ltr] .suraName {
   font-family: serif;
}

.bismillah {
	text-align: center;
}

.printWatermark {
	display: none;
}

#quranSection div.quran { /* resolves IE6/7 bug for custom trans layout having table width=100% */
	width: 100%;
}

span.sajda#recommended {
	font-family: serif;
	color: rgb(200, 40, 40);
}

span.sajda#mandatory {
	font-family: serif;
	color: rgb(240, 10, 10);
}

span.juzSign {
	font-family: serif;
	color: #ff002e;
}

.waqfSign {
	font-family: KFGQPC Uthman Taha Naskh, Traditional Arabic, Zekr Quran, Scheherazade, Sans-serif, Sans-serif, Times New Roman; 
	color: #ff0000;
}

a.ayaSign, a.ayaSign:visited, a.ayaSign:link {
	border-width: 0;
    color:  #27fc27;
    text-decoration: none;
}

.quran span.hizbSign {
	font: 90pt serif;
	font-weight: bold;
	font-family: serif;
	color: rgb(60, 120, 230);
}

