/*
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 *
 * Author:         Mohsen Saboorian
 * @version 1
 */
html,body {
	padding: 0px;
	margin: 0px;
}
body {
	font: 13pt Traditional Arabic, Nazli, Koodak, Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	color: rgb(0, 0, 0);
/*	background-color: white;*/
}
body#search {
/*	background: white;*/
}
body#quranBody {
/*	background-color: white;*/
}

body#transBody {
/*	background-color: white;*/
}

div.body {
	padding-top: 3px;
	padding-left: .5%;
	padding-right: .5%;
}

td.searchBarTop {
	height: 50px;
	font-size: 0.9em;
	font-family: Tahoma, Arial, Sans-serif;
	border: 1px solid silver;
	padding: 2px;
}

div.bodyBottom {
	height: 30px;
}

div.headerBar {
	visibility: hidden;
}

div.footerBar {
	display: none;
}

div.main {
	vertical-align: top;
	padding: 7 8;
	line-height: 150%;
}

div.searchBody {
	padding: 0px 10px 0px 10px;
	text-align: center;
	_width: 100%;
	padding-top: 40px;
}

.searchBody table {
	width: 100%;
}

#quranSection .quran {
	text-align: justify;
}

div.aya, div.selectedAya {
	padding-right: 10px;
	padding-left: 10px;
	margin: 5px 0px;
}

td .ayaSep {
	border-top: 0.4pt solid gray;
}

table.customTrans {
	width: 100%
}

table.customTrans td {
}

td.searchResult {
	vertical-align: top;
}

.searchResult div.item {
	padding: 0px 7px 0px 7px;
}

.searchResult div.odd {
	background-color: white;
	margin: 9px 0px;
}

.searchResult div.even {
	background-color: rgb(200, 210, 240); /* a bit darker than screen media rendering */
	margin: 9px 0px;
}
.searchResult div img { /* hides translation button at the end of each aya in search result */
	display: none;
}

.searchResult .even span.highlight {
	color: blue;
	font-weight: bold;
	background-color: white;
}

.searchResult .odd span.highlight {
	color: blue;
	font-weight: bold;
	background-color: rgb(220, 220, 220);
}

.jsHighlight {
	color: red;
	font-weight: bold;
	background-color: white;
}

.jsHighlightFocused { /* in printing it is of no sense to have a different selected item, all items should look the same */
	color: red;
	font-weight: bold;
	background-color: white;
}

.searchResult a:link { 
	color: rgb(0, 80, 120);
	text-decoration: none;;
}

.searchResult a:visited { 
	color: rgb(0, 40, 200);
	text-decoration: none;
}
.queryDetail {
	display: none;
}
.printWatermark {
	margin: 3px;
	background-color: rgb(240, 240, 240);
	color: black;
	border: 1px solid gray;
	text-align: center;
	padding: 2px;
	display: block;
	font: 9pt Tahoma, Arial, Sans-serif;
}
