/*
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 *
 * Author:         Mohsen Saboorian
 * @version 1
 */

* {
	/*line-height: 1em;*/
}
html,body {
	padding: 0px;
	margin: 0px;
}
body {
	font: 13pt Tahoma, Sans-serif, Arial, Verdana, Helvetica, Arial Unicode MS;
	color: rgb(35, 82, 222);
	background-color: #fcfc00;
}