h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 32px; color: #FF0000; font-weight: bold}
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #0000FF; font-weight: bold}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #0066FF; font-weight: bold}
h4 {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #FF6600; font-weight: bold}
td {  font-family: Arial, Helvetica, sans-serif;}
BODY { font-family: Arial, Helvetica, sans-serif;
 scrollbar-base-color: 33CCFF;
 scrollbar-track-color: 99CCFF;
 scrollbar-face-color: 33CCFF;
 scrollbar-highlight-color: FFFF99;
 scrollbar-3dlight-color: 3399FF;
 scrollbar-darkshadow-color: 000000;
 scrollbar-shadow-color: 6699FF;
 scrollbar-arrow-color: 000099;
}